{% extends "base.html" %}
{% block title %}Compras - Lista{% endblock %}

{% block content %}
    <h1>Compras</h1>
    <a class="btn-main" href="{% url 'compras:crear' %}">➕ Nueva compra</a>

    {# Filtros y buscador #}
    {% include "compras/lista_compra/partials/_lista_compra_filtros.html" %}

    {# Tabla #}
    {% include "compras/lista_compra/partials/_lista_compra_tabla.html" with compras=compras %}

    {# Paginación #}
    {% include "compras/lista_compra/partials/_lista_compra_paginacion.html" %}
{% endblock %}
