
<div class="table-responsive">
    
    <table class="table table table-bordered table-striped align-middle">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Proveedor</th>
        <th scope="col" class="text-end">Subtotal</th>
        <th scope="col" class="text-end">Desc.</th>
        <th scope="col" class="text-end">Imp.</th>
        <th scope="col" class="text-end">Total</th>
        <th scope="col" class="text-end"></th>
        </tr>
    </thead>
    <tbody>
        {% for c in compras %}
        <tr>
            <td class="text-center">{{ c.id }}</td>
            <td>{{ c.fecha|date:"d/m/Y H:i" }}</td>
            <td class="text-break">{{ c.proveedor }}</td>
            <td class="text-end">{{ c.subtotal }}</td>
            <td class="text-end">{{ c.descuento_total }}</td>
            <td class="text-end">{{ c.impuesto_total }}</td>
            <td class="text-end fw-semibold">{{ c.total }}</td>
            <td class="text-end text-nowrap">
            {% include "compras/lista_compra/partials/_lista_compra_acciones_fila.html" with compra=c %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="8" class="text-center">No hay compras.</td></tr>
        {% endfor %}
    </tbody>
    </table>
</div>