<div class="card mb-3">
<div class="card-header">
    <h2 class="card-title">Datos del proveedor</h2>
</div>
<div class="card-body">

    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="form-rows-2col">
      {# Nombre * #}
    {% if form.nombre %}
        <label for="{{ form.nombre.id_for_label }}" class="form-label-left">
        Nombre <span class="req">*</span>
        </label>
        <div class="form-field">
        {{ form.nombre }}
        {% for error in form.nombre.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
        </div>
    {% endif %}

    {# Email #}
    {% if form.email %}
        <label for="{{ form.email.id_for_label }}" class="form-label-left">Email</label>
        <div class="form-field">
        {{ form.email }}
        {% for error in form.email.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
        </div>
    {% endif %}

    {# Teléfono #}
    {% if form.telefono %}
        <label for="{{ form.telefono.id_for_label }}" class="form-label-left">Teléfono</label>
        <div class="form-field">
        {{ form.telefono }}
        {% for error in form.telefono.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
        </div>
    {% endif %}

    {# Dirección #}
    {% if form.direccion %}
        <label for="{{ form.direccion.id_for_label }}" class="form-label-left">Dirección</label>
        <div class="form-field">
        {{ form.direccion }}
        {% for error in form.direccion.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
        </div>
    {% endif %}

    {# Notas #}
    {% if form.notas %}
        <label for="{{ form.notas.id_for_label }}" class="form-label-left">Notas</label>
        <div class="form-field">
        {{ form.notas }}
        {% for error in form.notas.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
</div>
</div>