{# Resumen lateral del producto (editable si lo decides) #}
<div class="card totals-card">
  <div class="card-body p-3">
    <h6 class="mb-3">Resumen</h6>

    <div class="totals-grid">
        
        <div class="totals-row">
            <span>Precio venta</span>
            <strong id="resumen-precio-venta">
            {% if form.precio_venta.value %}{{ form.precio_venta.value }}{% else %}0,00{% endif %}
            </strong>
        </div>

        <div class="totals-row">
            <span>Margen estimado (dinero)</span>
            <strong id="resumen-margen">0,00</strong>
        </div>


        
        </div>
    </div>
</div>