<div class="table-responsive">
  <table class="table table table-bordered table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col" class="text-end">Subtotal</th>
        <th scope="col" class="text-end">Desc.</th>
        <th scope="col" class="text-end">Imp.</th>
        <th scope="col" class="text-end">Total</th>
        <th scope="col" class="text-end"></th>
      </tr>
    </thead>
    <tbody>
      {% for v in ventas %}
      <tr>
        <td class="text-center">{{ v.id }}</td>
        <td>{{ v.fecha|date:"d/m/Y" }}</td>
        <td class="text-break">{{ v.cliente }}</td>
        <td class="text-end">{{ v.subtotal }}</td>
        <td class="text-end">{{ v.descuento_total }}</td>
        <td class="text-end">{{ v.impuesto }}</td>
        <td class="text-end fw-semibold">{{ v.total }}</td>
        <td class="text-end text-nowrap">
          {% include "ventas/lista_venta/partials/_lista_venta_acciones_fila.html" with venta=v %}
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="8" class="text-center">No hay ventas.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>